useDynLib(yamaanative, .registration = TRUE)
export(engine_info)
export(scalar_round_trip)
export(evaluate_numeric)
export(table_round_trip)
export(table_snapshot)
export(execute_dataset)
export(execute_dataset_sources)
export(dataset_capabilities)
export(int64)
export(utf8_scalar)
export(utf8_bytes)
export(invoke_function)
S3method(as.character,yamaa_int64)
S3method(as.double,yamaa_int64)
S3method(as.integer,yamaa_int64)
S3method(format,yamaa_int64)
S3method(print,yamaa_int64)
S3method(Ops,yamaa_int64)
S3method(as.character,yamaa_utf8)
S3method(format,yamaa_utf8)
S3method(print,yamaa_utf8)
S3method(Ops,yamaa_utf8)
S3method(is.na,yamaa_int64)
S3method(is.na,yamaa_utf8)
S3method(length,yamaa_utf8)
